public/materials/bluebooks/*.pdf
public/materials/past-papers/**/*.pdf
public/materials/past-papers/**/*.mp3
public/materials/past-papers/**/*.m4a
public/materials/past-papers/**/*.zip
public/data/vocab/
node_modules/
.DS_Store
*.log
